:80

root * /app/frontend/dist
file_server

handle_path /api/* {
    reverse_proxy 127.0.0.1:8080
}

handle_path /ping {
    reverse_proxy 127.0.0.1:8080
}

handle_path /r/* {
    reverse_proxy 127.0.0.1:8080
}

